[Desktop Entry]
Type=Application
Version=1.0
Name=Freepolis
GenericName=Freepolis City Simulation Game
Comment=City simulation game, open sourced from original SimCity(tm)
Icon=freepolis
Exec=freepolis
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
